- var classes = ['main', 'large', 'no-padding'];
- var atts = {'data-ng-change': 'runChangeMethod()'};

doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Bare - Start Bootstrap Template
  // Bootstrap core CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

include ./menu.pug

block content

include ./footer.pug